<?xml version="1.0" encoding="utf-8"?>
<!-- Android 11+ package visibility: lets the app bind to the system text-to-speech engine. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.surakshaar.unity.queries">
    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>
</manifest>
